// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #154360;
  --ion-color-primary-rgb: 21, 67, 96;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #123b54;
  --ion-color-primary-tint: #2d5470;

  /** secondary **/
  --ion-color-secondary: #60ce80;
  --ion-color-secondary-rgb: 96, 206, 128;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #54b571;
  --ion-color-secondary-tint: #70d38d;

  /** tertiary **/
  --ion-color-tertiary: #4db8ff;
  --ion-color-tertiary-rgb: 77, 184, 255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #44a2e0;
  --ion-color-tertiary-tint: #5fbfff;

  /** success **/
  --ion-color-success: #60ce80;
  --ion-color-success-rgb: 96, 206, 128;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #54b571;
  --ion-color-success-tint: #70d38d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** LIGHT MODE Background **/
  --ion-background-color: #f0f0f0;
  --ion-background-color-rgb: 240, 240, 240;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;
  --ion-toolbar-background: #ffffff;
  --ion-tab-bar-background: #ffffff;
}

/*
 * Dark Mode
 * -------------------------------------------
 */

body.dark {
  --ion-color-primary: #60ce80;
  --ion-color-primary-rgb: 96, 206, 128;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #54b571;
  --ion-color-primary-tint: #70d38d;

  --ion-color-secondary: #4db8ff;
  --ion-color-secondary-rgb: 77, 184, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #44a2e0;
  --ion-color-secondary-tint: #5fbfff;

  --ion-color-tertiary: #154360;
  --ion-color-tertiary-rgb: 21, 67, 96;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #123b54;
  --ion-color-tertiary-tint: #2d5470;

  --ion-color-success: #60ce80;
  --ion-color-success-rgb: 96, 206, 128;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #54b571;
  --ion-color-success-tint: #70d38d;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
  --ion-background-color: #0a1929;
  --ion-background-color-rgb: 10, 25, 41;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d1d2f;
  --ion-color-step-100: #1a2332;
  --ion-color-step-150: #262d3d;
  --ion-color-step-200: #333947;
  --ion-color-step-250: #404552;
  --ion-color-step-300: #4d525c;
  --ion-color-step-350: #595e66;
  --ion-color-step-400: #666a70;
  --ion-color-step-450: #73777a;
  --ion-color-step-500: #808385;
  --ion-color-step-550: #8c8f8f;
  --ion-color-step-600: #999c99;
  --ion-color-step-650: #a6a8a3;
  --ion-color-step-700: #b3b5ad;
  --ion-color-step-750: #bfc1b8;
  --ion-color-step-800: #cccec2;
  --ion-color-step-850: #d9dacc;
  --ion-color-step-900: #e6e7d6;
  --ion-color-step-950: #f2f3e1;

  --ion-item-background: #1a2332;
  --ion-card-background: #1a2332;
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
  --ion-background-color: #0a1929;
  --ion-background-color-rgb: 10, 25, 41;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1a2332;
  --ion-color-step-100: #1e2838;
  --ion-color-step-150: #262d3d;
  --ion-color-step-200: #2e3442;
  --ion-color-step-250: #363a47;
  --ion-color-step-300: #3e414c;
  --ion-color-step-350: #464851;
  --ion-color-step-400: #4e4f56;
  --ion-color-step-450: #56565b;
  --ion-color-step-500: #5e5d60;
  --ion-color-step-550: #666465;
  --ion-color-step-600: #6e6b6a;
  --ion-color-step-650: #76726f;
  --ion-color-step-700: #7e7974;
  --ion-color-step-750: #868079;
  --ion-color-step-800: #8e877e;
  --ion-color-step-850: #968e83;
  --ion-color-step-900: #9e9588;
  --ion-color-step-950: #a69c8d;

  --ion-item-background: #1a2332;
  --ion-toolbar-background: #1a2332;
  --ion-tab-bar-background: #1a2332;
  --ion-card-background: #1a2332;
}
